[submodule "Computer-Science/1. Complete Intro to Computer Science/algorithms-exercise"]
	path = Computer-Science/1. Complete Intro to Computer Science/algorithms-exercise
	url = git@github.com:jeffrymahbuubi/algorithms-exercises.git
